@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.navigation1{
	position: relative;
	width: 50px;
	height: 50px;
	background: #fff;
	transition: 0.5s, height 0.5s;
	transition-delay: 0s, 0.75s; 
	z-index: 10000;
	border-daisus: 4px;
}
.navigation1 .active1{
	width: 250px;
	height: 350px;
	transition: height 0.5s, width 0.5s;
	transition-delay: 0s, 0.75s; 
}
.navigation1 .toggle1{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #ff4081;
	transition: 0.5s;
	cursor: pointer;
}
.navigation1 .toggle1 .active1{
	background: #2196f3;
}
.navigation1 .toggle1::before{
	content: '+';
	position: absolute;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: 400;
	transition: 0.5s;
}
.navigation1 .toggle1 .active1::before{
	transform: rotate(315deg);
}
.navigation1 ul {
	position: absolute;
}
.navigation1 ul li {
	position: relative;
	list-style: none;
	width: 100%;
}
.navigation1 ul li:hover{
	background: #c7b299;
}
.navigation1 ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #154367;
}
.navigation1 ul li a .icon{
	position: relative;
	display: block;
	min-width: 50px;
	height: 50px;
	text-algin: center;
	line-height: 50px;
}
.navigation1 ul li a .icon .fa{
	font-size: 24px;
	color: #154367;
}
.navigation1 ul li a .title{
	position: relative;
	display: block;
	line-height: 50px;
	text-align: start;
	white-space: nowrap;
}
.navigation1 ul li:hover a .icon .fa,
.navigation1 ul li:hover a .title{
	color: #fff;
}